<h1>Create Your Recipe Here:</h1>
<form method="POST" action="/recipes">
<label>Name: <input type="text" name="name"></label><br><br>
<label>Ingredients: <input type="text" name="ingredients"></label><br><br>
<label>Cook Time: <input type="text" name="cook_time"></label><br><br>
<input type="submit" value="Create">
</form>